[source_db]
host = ""  # Hostname or IP address. Always required.
port = 3306
user = ""
password = ""
db = "cleopatra"  # Database name

## Note - one of destination db host or discord webhook are required for operation
[destination_db]
host = ""  # Hostname or IP address. Leave empty and set discord webhook for stats only
port = 3306
user = ""
password = ""
db = "dragonite"  # Database name

[discord]
webhook_url = ""  # Discord webhook URL. Leave empty to disable stats posting

[dragonite]
api_url = ""  # Dragonite API or Admin address "http(s)://dragonite_address(:port)" - no slash, leave empty to disable reload entirely
use_admin = false  # Whether to use the admin endpoint
admin_secret = ""  # Admin secret for authorization, leave empty if not needed
reload_every_run = false  # Whether to reload Dragonite every run or only when new accounts activated/sent
